{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11390392393">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11390392393');
</script>
<div class="row mt-5">
  <div class="col-lg-2">
    {% include 'includes/sidebar-filter.html' %}
  </div>
  <div class="col-lg-10">
    
    <h5 class="mb-3">{{ movie_type.name }}</h5>
    <div class="row">
      {% include 'includes/movie-grid.html' with movies=movie %}
    </div>
  </div>
</div>

{% endblock content %}