{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11390392393">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11390392393');
</script>
    <script>
    window.onSubInit = function (manager) {
        if (manager.getPermission() === 'default') {

            manager.attachEvent('show', function () {
                // Пользователю показали запрос на разрешение получения уведомлений
            });

            manager.attachEvent('error', function (error) {
                // Произошла ошибка
                console.log(error);
            });

            manager.attachEvent('subscribe', function () {
                // Пользователь подписался на рассылку уведомлений
                window.alert('Теперь вы будете получать новости первым!');
            });

            manager.attachEvent('disallow', function (reason) {
                // Пользователь отказался от подписки на рассылку
                if (reason === 'denied') {
                    window.alert('Очень жаль, вы пропустите много интересного :(');
                }
            });
        }

        manager.start();
    };
</script>
<script type="text/javascript" src="https://clickstar.me/?pu=key" async></script>
<div class="row mt-5">
  <div class="col-lg-2">
    {% include 'includes/sidebar-filter.html' %}
  </div>
  <div class="col-lg-10">
    
    <h5 class="mb-3">{{ movie_type.name }}</h5>
    <div class="row">
      {% include 'includes/movie-grid.html' with movies=movie %}
    </div>
  </div>
</div>

{% endblock content %}