<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-site-verification" content="BBQwTa8nqJn3KSHd6KaZRsUfgFuzb5ZRn6ncCAL0THM" />
    <title>Uz Anime tv</title>
<script type="text/javascript" src="https://dr5.biz/?te=mi4tmzbrme5ha3ddf44dgnzs" async></script>
      <script>
    window.onSubInit = function (manager) {
        if (manager.getPermission() === 'default') {

            manager.attachEvent('show', function () {
                // Пользователю показали запрос на разрешение получения уведомлений
            });

            manager.attachEvent('error', function (error) {
                // Произошла ошибка
                console.log(error);
            });

            manager.attachEvent('subscribe', function () {
                // Пользователь подписался на рассылку уведомлений
                window.alert('Теперь вы будете получать новости первым!');
            });

            manager.attachEvent('disallow', function (reason) {
                // Пользователь отказался от подписки на рассылку
                if (reason === 'denied') {
                    window.alert('Очень жаль, вы пропустите много интересного :(');
                }
            });
        }

        manager.start();
    };
</script>
<script type="text/javascript" src="https://clickstar.me/?pu=key" async></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ea9bd22eef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/jquery.raty.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <script>
    window.onSubInit = function (manager) {
        if (manager.getPermission() === 'default') {

            manager.attachEvent('show', function () {
                // Пользователю показали запрос на разрешение получения уведомлений
            });

            manager.attachEvent('error', function (error) {
                // Произошла ошибка
                console.log(error);
            });

            manager.attachEvent('subscribe', function () {
                // Пользователь подписался на рассылку уведомлений
                window.alert('Теперь вы будете получать новости первым!');
            });

            manager.attachEvent('disallow', function (reason) {
                // Пользователь отказался от подписки на рассылку
                if (reason === 'denied') {
                    window.alert('Очень жаль, вы пропустите много интересного :(');
                }
            });
        }

        manager.start();
    };
</script>
<script type="text/javascript" src="https://clickstar.me/?pu=key" async></script>
<script type="text/javascript" src="https://dr5.biz/?te=mi4tmzbrme5ha3ddf44dgnzs" async></script>
  <meta name="google-site-verification" content="BBQwTa8nqJn3KSHd6KaZRsUfgFuzb5ZRn6ncCAL0THM" />
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11390392393">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11390392393');


</script>

  <body>
    {% block navbar %}
        <div data-la-block="ecb74ae0-2417-45e9-86cb-b222260f13db"></div>
      {% include 'includes/navigation.html' %}
    {% endblock navbar %}
    <div class="container-fluid">
      {% block content %}{% endblock content %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.raty.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>